# Python build & virtual env
venv/
__pycache__/
*.pyc

# Rust build outputs & binaries
target/
collector

# Local SQLite Database & Logs
*.db
utm_security.db
*.log
*.db-wal
*.db-shm

# Report files
Report/
report/
